/* Basic  */
body{
    background-color: #012727;
    
}
div{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: #0feeee;
}
a:visited{
    color: #0feeee;
}
input{
    display: block;
    margin: 5px 0px 0px 0px;
}

.header{
    color: #0feeee;
    width: 100%;
    margin: auto;
    max-width: 790px;
    background-color: #003333;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
    border: 1px solid #022222;
    
}
.header h1{

    margin-left: 5px;
}
.header input{
    padding: 7px;
    margin: auto;
    margin: 5px;
    background-color: rgb(4, 71, 71);
    border: 1px solid #022222;
    color: white;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
::-webkit-input-placeholder { 
    color: #0feeee;
}
  
.header input:active{
    outline: none;
    padding: 7px;
    margin: auto;
}
.header input:focus{
    padding: 7px;
    margin: auto;
    margin: 5px;
    background-color: teal;
    border: 1px solid #022222;
    color: white;
    outline: none;
    
}

/*Slider  */
.container{
    /* border: 1px solid rgba(232,234,237,1); */
    
    border-bottom: 1px solid #022222;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    max-width: 790px;
    background-color: #003333;

}
.slider{
    display:flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 9px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}
.slides{
    /* scroll-snap-align: start; */
    border-radius: 5px;
    height: 250px;
    width: 190px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: teal;
    position: relative;
    background-size: cover;
}
.slides_inner-div{
    width: 100%;
    height: 100%;
}

.slides_inner-div img{
    width: 100%;
    height: 100%;
    background-size: contain;
}
@media only screen and (max-width: 608px) {
    .slides{
        width: 150px;
        height: 220px;
    }
}
.slider::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: black;
}


/* Slides For gernre */
.genre-main_div{
    max-width: 790px;
    margin: auto;
}


.genre-slider{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-size: cover;
    /* background-color: white; */
    padding: 20px 0px;
    /* border: 1px solid rgba(232,234,237,1); */
    /* border: 1px solid grey; */
    /* border: 1px solid #032b2b; */
    border-bottom: 1px solid #022222;
    background-color: #003333;;
}
.genre-slides{
    /* scroll-snap-align: start; */
    background-color: green;
    height: 250px;
    width: 190px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 5px;
    position: relative;
}

.slider::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    color: black;
}

.movie-poster{
    height: 250px;
    width: 100%;
    background-size: cover;
    border-radius: 5px;
}
.title{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    bottom: 1px;
    /* top: 50%; */
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
}
.genere{
    display: inline;
    color: #0feeee;
}

.view-more{
    display: inline;
    text-decoration: none;
    right: 0px;
    
}
.slider-header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
    /* border-bottom: 1px solid rgba(232,234,237,1); */
    border-bottom: 1px solid #022222;
    background-color: #04434e;
    height: 35px;
}
.genre-movie-header{
    font-size: 50px;
    margin-bottom: 5px;
    margin: auto;
    padding: 0%;
    /* background-color: white; */
}



/* Movie Description  */


.single-movie_main-div{
    margin: 50px 0px 20px 0px;
    /* max-width: 600px; */
    max-width: 790px;
    margin: auto;
}
.single-movie_details{
    background-color: #074444;
    color: rgb(48, 200, 211);
    max-width: 790px;
    margin: auto;
    /* border: 1px solid rgba(232,234,237,1); */
    border : 1px solid #022222;
    
} 
.back-button{
    font-size: 50px;
    width:100%;
    border-left: none;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #003333;;
    /* border: 1px  solid rgba(232,234,237,1); */
    border: 1px solid #022222;
    margin-bottom: 10px;
    max-width: 790px;
} 
.des_movie-poster{
    background-color: teal;
    width: 250px;
    height: 330px;
    margin: auto;
    background-size: contain;
    
}
.des_movie-poster img{
    background-size: contain;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.img {
    background-size: cover;
    height: 100%;
}

.des_movie-title{
    display: flex;
    justify-content: center;
    
}
.des_movie-details{
    display: block;
    justify-content: center;
    margin: auto;
    width: 80%;
    max-width: 450px;
    font-weight: bold;
    margin-bottom: 60px;
}
.description{
    text-align: justify;
    
}

.admin-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom{
    bottom: 3px;
    position: absolute;
}
.load_more{
    font-size: 20px;
    color: #0feeee;
    height: 60px;
    display: flex;
    align-items: center;
}

/* Download link */
.download-link{
    
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.download-link a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    /* border: 1px solid green; */
    border-radius: 3px;
    width: 200px;
    margin: auto;
    color: #68f5dd;
    margin-bottom: 30px;
    background: #2a976b;
    box-shadow:0 0 5px #14e290,
	           0 0 25px #14e290,
	           0 0 50px #14e290,
               0 0 200px #14e290;
    /* -webkit-box-reflect:below 1px linear-gradient(transparent,rgba(11, 22, 24, 0.333)); */
    letter-spacing: 2px;
	text-transform: uppercase;
	overflow: hidden;
}



.active-menu{
    transition-duration: 2s;
    color:#050801;
    border-radius: 5px;
	box-shadow:0 0 5px #4dff4d,
	           0 0 25px #4dff4d,
	           0 0 50px #4dff4d,
	           0 0 200px #4dff4d;
    color: green;
}




/* Form style */

.form{
    width: 80%;
    margin: auto;
    background: #2a976b;
    overflow: hidden;
    
}
.form input,textarea,select{
    background: #145a3e;
    width: 100%;
    
    border:none;
    margin-bottom: 5px;
    padding: 7px;
    border-radius: 3px;
}


select,textarea{
    display: block;
    height: 100px;
}